body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.transition{
  transition: padding 0.3s linear;
}

.button{
  width: 200px;
  background-color: #f78f5c;
  text-align: center;
  padding: 20px;
  border-radius: 20px;

}

.button: hover{
    transition: scale(1.2) rotate(5deg);
}
