
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: `Roboto`, sans-serif;
}

a{
  text-decoration: none;
  color: #b3d9ff;
}


.main{
  min-height: 40px;
  background-color: #000;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  transition: all 0.5;
}
img{
   border-radius: 100px;
   border: 5px, solid #000;
 }

img: hover{
  transition: scale(1.2) rotate(5deg);
  }

.menu{
  display: flex;
  flex-flow: row;
  color: #fff;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  justify-content: space-around;

}

.menu li{
  padding: 10px;
}

 .name{
   display: block;
   margin-right: auto;
 }

 header{
   padding-top: 40px;
   background-image: url(nature.jpg);
   background-size: cover;
   text-align: center;
 }

h1 {
  background-color: #fff;
  display: table;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}

.tag{
  display: table;
  padding: 10px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
}

.transition{
  transition: padding 0.3s linear;
}

.tag:hover{
  background-color: #f2e68a;
  padding: 20px;
  color: black;
}


.sub-title{
  background-color: #000;
  color: #b3ffb3;
}

.content{
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  justify-content: space-around;
}

.card{
  max-width: 500px;
  margin: 10px;
padding: 20px;
 background-color: #FFE4E1;
 border-radius: 20px;
 border-bottom: 5px solid #cfa5cf;
}

p{
  font-family: century gothic;
}
